@import "compass";
@import "bootstrap.min";
@import "assan-style";
@import "font-awesome.min";
@import "flexslider";
@import "animate";
@import "settings";
@import "rev-style";
@import "owl.carousel";
@import "owl.theme";
@import "yamm";
@import "magnific-popup";
@import "sky-forms";










.tp-banner-vertical img {display: none; }

h1 {
	
	a {
		display: block; background: url(/site/img/bricknell-cottages.logo.png) left top no-repeat; background-size: 100% auto; width: 370px; height: 50px; 
		span {display: none; }
	}
}

.navbar-static-top {height: 90px !important; padding: 25px 0 !important; }

/* @include transition-property(color); @include transition-duration(0.5s); */

ul.navbar-nav {
	li {
		position: static; 
		> .drop-down {
			visibility: hidden;  @include opacity(0); background: rgba(255,255,255,1) url(/site/userfiles/Image/content/yorkshire-dales.jpg) right top no-repeat; background-size: 35% auto; @include transition-property('opacity', 'visbility'); @include transition-duration(0.3s); position: absolute; left: 0; width: 100%; padding: 30px; border-top: solid 1px #EFEFEF; padding-bottom: 100px;
			ul {
				list-style-type: none; margin: 0;
				li {width: 20%; float: left; padding-bottom: 30px; }
				li:nth-child(3n + 4){clear: both; }
			}
			
		}
		&:hover {
			> .drop-down  {
				visibility: visible; @include opacity(1); 
			}
		}

	}
	> li {
		
	}
	.glyphicon-chevron-down, .glyphicon-chevron-up {display: none; }
}

.btn {@include transition-property('background-color'); @include transition-duration(0.3s); }

.cottage-summary-list {
	.cottage-summary {
		&:nth-child(3n+4) {
			clear: both;
		}
		.team-wrap {
			padding: 10px;
			span {font-size: 14px; font-weight: normal; }
			.team-photo-holder {
				display: block; overflow: hidden; max-height: 225px; margin-bottom: 15px;
				img {}
			}
			
		}
	}
}

.cottage-full {
	margin-bottom: 60px;
}

h3.heading {margin-bottom: 0; }
span.tagline {display: block; margin-bottom: 30px !important; }
.cottage-gallery {margin-top: 30px; }
.main-content-container {margin-bottom: 30px; }
#grid .col-sm-4:nth-child(3n+4){clear: both; }

.intro-text-1 {padding: 10px 0 !important; }
.intro-text-1 h4 {margin: 8px 0 0 0 !important; }
.booking-form select, .booking-form .form-control, .booking-form option, .booking-form label {font-size: 16px !important; }
.booking-form label {color: #FFF; display: inline-block; margin: 0 10px; font-weight: bold; }
.booking-form button {margin-left: 20px; }

.button {positiondisplay: inline-block; padding: 10px 20px; }
.round {border-radius: 30px; }
.outline-translucent-mix {background: rgba(255,255,255,0.5); border: solid 2px #FFF; color: #000; }
.text-uppercase {text-transform: uppercase; }
.video-holder {background: #000; }
.video-holder .button {position: absolute; width: 250px; left: 50%; top: 50%; margin: -20px auto auto -125px; font-size: 18px; }
.video-holder .button .fa {margin-right: 10px; }
.video-holder:hover img {opacity: 0.5; }
.video-holder:hover .outline-translucent-mix {background: #9EC5A9; }

ul.nav {
	.drop-down {
		background: red; 
	}
}

.tp-banner-vertical {
	height: 500px;
	ul {
		list-style-type: none; 
	}
}

@media (max-width: 767px){
	h1 {
		padding: 0 15px !important; top: 40px; 
		a {
			width: 70px; height: 60px; background-size: 480px auto; 
		}
	}
	.navbar-header {
		
	}
	.navbar-static-top {
		padding-top: 10px !important; 
	}
	.book-online-form-block {
		display: none; 
	}
	.divide60 {height: 30px; }
	.navbar-toggle {}
	.navbar-collapse {
		background: #444 !important; margin-top: -30px; 
	}
	.cottage-full {
		.embed-responsive {display: none; }
	}
}



@media (max-width: 768px){
	.tp-caption.vertical-title {font-size: 30px !important; margin-bottom: 20px !important; }
	.tp-caption.vertical-caption {font-size: 18px !important; line-height: 20px !important; }
}
@media (min-width: 768px){
	h1 {width: 300px; }
	h1 a {width: 100%; background-size: 100% auto; }
	.col-sm-9 .form-group {width: 23% !important; }
	.col-sm-9 .form-group label {display: none !important; }
	
	
}




