@import "compass";

.parallax-slideshow {position: relative; width: 100%; background: url('loading.gif') center center no-repeat; overflow: hidden; height: 600px; }
.parallax-slideshow .slide {position: absolute; width: 100%; height: 100%; background-position: center center; background-size: cover; z-index: 10; display: none; }
.parallax-slideshow .slide video, .parallax-slideshow .slide img {position: absolute; left: 0; top: 0; width: 100%; height: auto; }
.parallax-slideshow .slide .overlay {z-index: 110; }
.parallax-slideshow .slide .overlay.centered {text-align: center; position: absolute; width: 1000px; left: 50%; top: 50%; margin-left: -500px; }


.parallax-slideshow .slide h2, 
.parallax-slideshow .slide h3 {
	@include text-shadow(#333 2px 2px 8px);
}
.parallax-slideshow .slide h2 {text-transform: uppercase; font-size: 40px; margin: 0 0 10px 0; color: #FFF; font-weight: 800; }
.parallax-slideshow .slide h3 {text-transform: uppercase; font-size: 22px; margin: 0 0 50px 0; color: #FFF; font-weight: normal; }
.parallax-slideshow .slide .btn {display: inline-block; padding: 10px 20px; border: solid 1px #FFF; color: #FFF; }
.parallax-slideshow .slide .btn-filled {background: #FFF; color: #666; }
.parallax-slideshow .slide .slideBg {position: absolute; left: 0; top: 0; width: 100%; background-size: cover; z-index: 15; }

.parallax-slideshow .slide iframe {position: absolute; width: 100%; height: 56vw; padding: 0 !important; border: none !important; top: 50%; margin-top: -28vw; }

.parallax-slideshow .transport {position: absolute; z-index: 20; top: 50%; color: #FFF; font-size: 40px; display: none; cursor: pointer; margin-top: 20px; }
.parallax-slideshow .transport-previous {left: 30px; }
.parallax-slideshow .transport-next {right: 30px; }
/**
Hide video controls on iOS
*/
video::-webkit-media-controls {
	 display:none !important;
}
/**
Smaller desktops and tablets
*/
@media (max-width: 1024px){
	.parallax-slideshow {height: 450px; }
	.parallax-slideshow .slide .overlay.centered {top: auto; bottom: 40px; }
	.parallax-slideshow .slide h2 {font-size: 36px; margin: 0 0 5px 0; }
	.parallax-slideshow .slide h3 {font-size: 24px; margin: 0 0 25px 0; }
	.parallax-slideshow .transport {font-size: 20px; margin-top: -10px; }
	.parallax-slideshow .transport-previous {left: 10px; }
	.parallax-slideshow .transport-next {right: 10px; }
	.parallax-slideshow .slide iframe {height: 56vw; }
}
/**
Mobiles and Portrait tablets
*/
@media (max-width: 800px){
	.parallax-slideshow {height: 450px; }
	.parallax-slideshow .slide {overflow: hidden; }
	.parallax-slideshow .slide video, .parallax-slideshow .slide img {width: auto; height: 100%; max-width: auto; }
	.parallax-slideshow .slide .overlay.centered {top: auto; bottom: 10px; width: 100%; left: auto; top: auto; bottom: 20px; margin-left: auto; padding: 0 30px; }
	.parallax-slideshow .slide h2 {font-size: 20px; margin: 0 0 5px 0; }
	.parallax-slideshow .slide h3 {font-size: 14px; margin: 0 0 10px 0; }
	.parallax-slideshow .slide .btn {padding: 5px 10px; margin-top: 10px; }
	.parallax-slideshow .transport {font-size: 20px; margin-top: -10px; }
	.parallax-slideshow .transport-previous {left: 10px; }
	.parallax-slideshow .transport-next {right: 10px; }
	.parallax-slideshow .slide iframe {height: 55vw; }
}