.slider {
	position: relative; overflow: hidden;
	.slide {
		/* position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-position: 50% 0; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; overflow: hidden; display: none; -ms-transform: translate(100%, 0);  -webkit-transform: translate(100%, 0); transform: translate(100%, 0); */
		/*position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-size: auto 100%; background-attachment: fixed; overflow: hidden; display: none; -ms-transform: translate(100%, 0); -webkit-transform: translate(100%, 0); transform: translate(100%, 0);*/
		position: absolute; left: 0; top: 0; width: 100%; height: 100%;
		/* background-repeat: no-repeat; background-size: auto 100%; background-attachment: fixed; */
		
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: auto 100%;
		background-attachment: fixed;
		
		overflow: hidden;
		display: none;
		-ms-transform: translate(100%, 0);
		-webkit-transform: translate(100%, 0);
		transform: translate(100%, 0);
		
		.story {
			position: absolute; left: 0; bottom: 150px; text-align: center; width: 100%;
			h3, p {text-align: center; margin: 0 auto; padding: 0; max-width: 70%; }
			h3 span, p span {display: inline-block; background: rgba(0,0,0,0.7); color: #FFF; }
			h3 {
				font-size: 50px; font-weight: bold; text-transform: uppercase;
				span {padding: 20px 20px 10px 20px; margin: 0; }
			}
			p {
				font-size: 20px; 
				span {padding: 0 20px 20px 20px; margin: 0; }
			}
			
		}
	}
	.slider-button {position: absolute; top: 50%; font-size: 50px; margin: -25px 0 0 0; z-index: 200; color: #FFF; display: none; cursor: pointer; }
	.slider-button-next {right: 30px; }
	.slider-button-previous {left: 30px; }
}

@media (min-width: 1950px){
	.slider {
		.slide {
			background-size: 100% auto;
		}
	}
}
@media (max-width: 800px){
	.slider {
		.slider-button {font-size: 25px; }
		.slider-button-next {right: 10px; }
		.slider-button-previous {left: 10px; }
		.slide {
			background-size: auto 100%; background-position: center center;
			.story {
				bottom: 30px;
				h3 {font-size: 24px !important; }
				p {font-size: 14px !important; }
			}
		}
	}
}


