$navBgColor: 		black;
$navColor: 			white;
$subnavBgColor: 	#EFEFEF;
$subnavColor: 		black;

/*
# ----------------------------------------------------------
# 		SPINNING ICON SNIPPET
# ----------------------------------------------------------
*/
@media (max-width: 767px){
	.menu-opener {display: block; position: fixed; right: 20px; top: 20px; }
}
@media (min-width: 768px){
	.menu-opener {display: none; }
	.dropdown-navigation {
		background: $navBgColor;
		ul {
			list-style-type: none; margin: 0; padding: 0; 
			li {
				display: inline-block; position: relative; 
				a {
					display: inline-block; padding: 10px; color: $navColor;
					.glyphicon-chevron-up, .glyphicon-chevron-down {margin-left: 5px; }
				}
				.drop-down {
					position: absolute; left: -9999px; background: $subnavBgColor; width: 100%; min-width: 200px; z-index: 50; padding: 10px; margin-left: -10px; 
					ul {
						li {
							display: block; 
							a {
								display: block; padding: 5px; color: $subnavColor;
							}
							> ul {
								position: absolute; left: -9999px !important; background: $subnavBgColor; top: 0; min-width: 200px; 
							}
							&:hover > ul {
								left: 100% !important; 
							}
						}
					}
				}
				&:hover .drop-down {
					left: 0; 
				}
			}
		}
	}
}


/*
# ----------------------------------------------------------
# 		SPINNING ICON SNIPPET
# ----------------------------------------------------------
*/
.gly-spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}






