/*
-----------------------------------------------------------
SOCIAL ICONS (sicon)
-----------------------------------------------------------

USAGE:
-------
<a href=""  class="sicon sicon-facebook"></a>

<ul class="sicon-bar"> <!-- SIMPLY DISPLAY THE LIST INLINE -->
<li><a href=""  class="sicon sicon-facebook"></a></li>
</ul>

Optional:
----------
.sicon-round :: circular background
.sicon-curved :: curved top left/ bottom right corners on background
.sicon-nobg :: removes background, leaving just the icon

*/
.sicon-bar { /* UL or OL */
	list-style-type: none; margin: 0; padding: 0;
	li {
		display: inline-block; margin: 0; padding: 0; 
		a {
			
		}
	}
}

.sicon {
	 position: relative; display: inline-block; width: 34px; height: 34px; margin: 0 5px 0 0;
}
.sicon:before {
	position: absolute; left: 0; top: 0; width: 100%; height: auto; display: block; background: center center no-repeat; background-size: 100% auto; content: ' ';
}
.sicon.sicon-round {
	border-radius: 50%; 
}
.sicon.sicon-curved {
	border-radius: 25% 0; 
}
.sicon.sicon-nobg {
	background: none !important;
}

.sicon-facebook {
	background: #235B9E; 
}
.sicon-facebook:before {
	background-image: url(/site/fonts/img/facebook.png);
}
.sicon-linkedIn {
	background: #0074B5 
}
.sicon-linkedIn:before {
	background-image: url(/site/fonts/img/linkedIn.png);
}
.sicon-twitter {
	background: #00ABE3 
}
.sicon-twitter:before {
	background-image: url(/site/fonts/img/twitter.png);
}
.sicon-youtube {
	background: #FF4D3F 
}
.sicon-youtube:before {
	background-image: url(/site/fonts/img/youtube.png);
}
.sicon-flickr {
	background: #FF0087 
}
.sicon-flickr:before {
	background-image: url(/site/fonts/img/flickr.png);
}
.sicon-pinterest {
	background: #EB1A22 
}
.sicon-pinterest:before {
	background-image: url(/site/fonts/img/pinterest.png);
}
.sicon-dropbox {
	background: #49D1EE 
}
.sicon-dropbox:before {
	background-image: url(/site/fonts/img/dropbox.png);
}
.sicon-skype {
	background: #00ABF3 
}
.sicon-skype:before {
	background-image: url(/site/fonts/img/skype.png);
}
