@import "compass";

body.editable {
	@media (min-width: 768px) {
		margin-top: 50px;
	}
	.sq-tools {
		position: fixed; top: 0; left: 0; width: 100%; padding: 10px;color: #444; height: 50px; z-index: 10000; border-bottom: solid 3px #FFF; 
		background-color: rgb(255,255,255); // Old browsers
		@include filter-gradient(#FfFfFf, #ebebeb, vertical); // IE6-9
		@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%));
		 .btn {
			background: #0487D1; color: #FFF;
			.glyphicon {margin: 0 5px 0 0; }
		}
		.btn:hover {background: #53BFDF; color: #FFF; }
		.alert {margin: 10px auto 3px auto; cursor: pointer; clear: both; }
		.alert-error {}
	}
	#page_information_form {
		textarea {height: 80px; }
	}
	.bootbox.modal {z-index: 10001; }
}

@media (min-width: 801px) {
	.sq-tools {
		.col-sm-6 {
			margin-bottom: 10px;
		}
		.col-sm-6:nth-child(2){
			text-align: right; 
		}
		.alert:nth-child(1){
			margin-top: 100px;
		}
	}
}

@media (max-width: 800px) {
	
}
