.slideshow {
	position: absolute; z-index: 10; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; 
	.slide {
		position: absolute; left: 0; top: 0; width: 100%; height: 100%;
		.slidebg {
			position: absolute; left: 0; top: 0; width: 100%; height: auto; z-index: 10;
		}
		.slidecontent {
			position: absolute; width: 100%; height: 100%; left: 0; top: 0; display: table; z-index: 100;
			.slideContentPositioner {
				display: table-cell; vertical-align: middle; text-align: center;
				.line_1 {font-size: 64px; font-weight: 800; margin: 0 0 0 0; }
				.line_2 {font-size: 24px; margin: 0 0 80px 0; }
				.sqgSliderBtn {
					position: relative; margin: 50px 0 0 0; border: solid 1px #FFF; padding: 10px 40px; color: #FFF; text-decoration: none; 
					.glyphicon {position: absolute; right: -15px; font-size: 30px; }
				}
			}
		}
	}
	.sqgslider-buttons {
		position: absolute; bottom: 0; height: auto; width: 100%; z-index: 1000; left: 0; text-align: center; 
		.sqgslider-btn {display: inline-block; width: 16px; height: 16px; border-radius: 50%; border: solid 1px #FFF; margin: 0 2px; cursor: pointer; }
		.sqgslider-btn:hover {background: rgba(255,255,255,0.2); }
		.sqgslider-btn.active {background: #EEE; }
	}
}